<a href="/">Back to dashboard</a>
<h2>Add note:</h2>
<form action="/notes" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="What do you want to do?">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" placeholder="Describe the note"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create note</button>
</form>