<a href="/">Back to dashboard</a>
<h2>Edit note: {{note.title}}</h2>
<form action="/notes/update" method="POST">
    <input type="hidden" name="id" value={{note._id}}>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="What do you want to do?" value={{note.title}}>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" placeholder="Describe the note" >{{note.description}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>